###############################################################################
# 🌐 Général – Portail
###############################################################################

# URL publique du portail (HTTPS obligatoire)
BASE_URL=https://gab-wifi.duckdns.org

# Secret pour signer les cookies (change-le !)
COOKIE_SECRET=aflejifroijylkfjacejraeiojf
SECURE_COOKIES=true

###############################################################################
# 🔐 Authentification Azure (OpenID Connect)
###############################################################################

# → OAuth 2.0 Client ID (Web application)
AZURE_CLIENT_ID=

# → Client Secret
AZURE_CLIENT_SECRET=

# Doit correspondre EXACTEMENT à la Redirect URI configurée chez Google
AZURE_REDIRECT_URI=https://<URL>/auth/azure/callback

# Tenant Azure
AZURE_TENANT_ID=

AZURE_SCOPE="openid profile email"

OIDC_ISSUER=https://login.microsoftonline.com/<tenant_id>/v2.0

###############################################################################
# 🗃️ Base de données (PostgreSQL)
###############################################################################

# Connexion utilisée par le portail Node.js
DATABASE_URL=postgres://portal:portalpass@db:5432/portaldb

# Optionnel – SSL vers la DB (false en local Docker)
PGSSL=false


###############################################################################
# 🕒 Politique RGPD
###############################################################################

# Durée de conservation des logs (en jours)
RETENTION_DAYS=180

# Version du texte de consentement affiché
CONSENT_VERSION=1.0

# Durée d’accès Wi-Fi accordée après authentification (en minutes)
DEFAULT_MINUTES=60


###############################################################################
# 📡 UniFi – Autorisation des clients Wi-Fi
###############################################################################

# URL du contrôleur UniFi (Cloud Gateway Ultra)
# ⚠️ HTTPS obligatoire
UNIFI_CONTROLLER_URL=https://IP:8443

# Nom du site UniFi (souvent "default")
UNIFI_SITE=default

# Compte UniFi utilisé pour autoriser les invités
# 👉 Recommandé : compte local dédié, droits limités
UNIFI_USERNAME=

# Mot de passe du compte UniFi
UNIFI_PASSWORD=

# Authorise le certificat self-signed
UNIFI_INSECURE_TLS=true

###############################################################################
# 🧪 Développement / Debug (optionnel)
###############################################################################

# Port interne du portail (ne pas exposer directement)
PORT=3000


####
# Portail admin pour voir les logs
###

ADMIN_USER=admin
ADMIN_PASS=admin
